<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid mx-5 my-2">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.jpg" alt="" srcset="" width="70px" height="70px" class="rounded"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-5">
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-bold" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-bold" aria-current="page" routerLink="/people" routerLinkActive="active">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-bold" aria-current="page" routerLink="/movie" routerLinkActive="active">Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-bold" aria-current="page" routerLink="/tv" routerLinkActive="active">TV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
