<div class="container my-5">
  @if (fromWho()=="all") {
  <h1 class="text-center ">Trending Today</h1>
  }
  @else if (fromWho()=="tv"){
  <h1 class="text-center ">Trending TV</h1>
  }
  @else if (fromWho()=="movie"){
  <h1 class="text-center ">Trending Movies</h1>
  }
  @else if (fromWho()=="people"){
  <h1 class="text-center ">Trending Celebrities</h1>
  }
  <hr>
  <!-- Cards Grid Part -->
  <div class="row g-4">
    @for (data of cardData(); track data.id) {
    <!-- <div>{{data.title}}</div> -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" [routerLink]="['/details', data.media_type , data.id]">
      <div class="card h-100 shadow-sm">
        <!-- <img class="card-img-top"
            [src]="trend.poster_path ? 'https://image.tmdb.org/t/p/w500' + trend.poster_path : 'default-image.jpg'"
            [alt]="trend.title" /> -->

        <img class="card-img-top" [src]="(data?.poster_path || data?.profile_path) | imagePath"
          [alt]=" data?.name || data?.title || data?.original_name" />
        <div class="card-body d-flex flex-column">
          <!-- <h5 class="card-title text-truncate" title="{{data.title}}">{{data.title}}</h5> -->
          <h5 class="card-title text-truncate" [title]=" data.name || data.title">
            {{ data.name || data.title }}
          </h5>

          <!-- <p class="card-text text-muted small overflow-hidden" style="max-height: 80px;">{{data.overview}}</p> -->
          <p class="card-text text-muted small overflow-hidden"
            style="max-height: 80px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
            {{data?.overview || data?.known_for_department}}
          </p>
          @if(fromWho() === 'all'){
          <p class="card-text text-muted small overflow-hidden">{{data.media_type}}</p>
          }

          <div class="mt-auto">
            <div class="d-flex justify-content-between align-items-center">
              <div class="rating mb-2">
                <span class="star text-warning">★</span>
                <span class="ms-1">{{ data?.vote_average?.toFixed(1) || data?.popularity?.toFixed(1) }}</span>
                @if (fromWho() !== 'people'){ ({{ data?.vote_count }} votes)}
              </div>
              <p class="card-text text-muted small overflow-hidden">{{data?.original_name || data?.original_title }}
              </p>
            </div>

            @if (fromWho() !== 'people' || (data?.origin_country && (data.release_date ||data.first_air_date) )) {
            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{data.release_date ||data.first_air_date }}</small>
              @if(fromWho() !== 'movie'){
              <small class="text-muted">{{data?.origin_country}}</small>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>

</div>
